.package-stats{
    margin-left: 30px;
    align-items: center;
    height: auto;
    width: 40rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.package-stats-3{
    margin-left: 30px;
    align-items: center;
    height: auto;
    width: 40rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.package-stats-driver{
    margin-left: 20px;
    margin-right: 10px;
    align-items: center;
    height: auto;
    width: 32rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.package-stats-2{
    margin-left: 30px;
    align-items: center;
    height: auto;
    width: 35rem;
    background-color: #F2F2F2;
    float: right;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.package-stats-1{
    margin-left: 10px;
    align-items: center;
    height: auto;
    width: 35rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}
.package-stats-agent{
    margin: auto;
    height: auto;
    width: 110rem;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
}

.center {
    text-align: center;
}