.bs4-order-tracking {
    margin-bottom: 30px;
    overflow: hidden;
    color: #878788;
    padding-left: 0px;
    margin-top: 30px
}

.bs4-order-tracking li {
    list-style-type: none;
    font-size: 20px;
    width: 16.5%;
    float: left;
    position: relative;
    font-weight: 400;
    color: #878788;
    text-align: center
}

.bs4-order-tracking li:first-child:before {
    margin-left: 5px !important;
    padding-left: 11px !important;
    text-align: left !important
}

.bs4-order-tracking li:last-child:before {
    margin-right: 5px !important;
    padding-right: 11px !important;
    text-align: right !important
}

.bs4-order-tracking li>div {
    color: #fff;
    width: 29px;
    text-align: center;
    line-height: 29px;
    display: block;
    font-size: 12px;
    background: #878788;
    border-radius: 50%;
    margin: auto
}

.bs4-order-tracking li:after {
    content: '';
    width: 150%;
    height: 2px;
    background: #878788;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 15px;
    z-index: -1
}

.bs4-order-tracking li:first-child:after {
    left: 50%
}

.bs4-order-tracking li:last-child:after {
    left: 0% !important;
    width: 0% !important
}

.bs4-order-tracking li.active {
    font-weight: bold;
    color: #febc17;
}

.bs4-order-tracking li.active>div {
    background: #febc17;
}

.bs4-order-tracking li.active:after {
    background: #febc17;
}

.card-timeline {
    background-color: #fff;
    z-index: 0
}

.driver-track-details{
    width: auto;
    height: 10rem;
    margin: 20px 20px 20px 20px;
}

.driver-info{

    border-radius: 10px;
    background-color: white;
    float: left;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 20rem;
    height: 9rem;
}

.driver-info-2{
    float: right;
    margin-right:  -50px;
    margin-top: 30px;
    padding: 10px 10px 10px 10px;
    width: 30rem;
    height: 9rem;
}