.receiverInfo{
    margin: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 10px;
    width: 25rem;
    height: auto;
}

.center-box{
    margin-top: 40px;
    align-items: center;
    height: auto;
    width: 42rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 10px;
}

.center-box-track{
    margin-left: -10px;
    margin-top: 40px;
    align-items: center;
    height: auto;
    width: 90rem;
    background-color: #F2F2F2;
    float: left;
    border-radius: 10px;
    padding: 10px;
}

.mailStatus{
    text-align: center;
    margin: auto;
    font-size: 20px;
    width: 60%;
    padding: 10px;
}

.status1{
    margin-top: 10px;
}

.driverInfo{
    margin: 40px;
    border-radius: 10px;
    background-color: #F2F2F2;
    padding: 10px;
    width: 25rem;
}

.custom-status{
    margin: 10px 10px 10px 10px;
    height: auto;
    width: auto;
    border-right: 5px;
}

.left{
    float: left;
}